.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  background: linear-gradient(
    180deg,
    #3b2418,
    #24150f
  );

  color: white;
  padding: 25px 15px;

  display: flex;
  flex-direction: column;

  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.15);
}

.sidebar-logo {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar-logo h2 {
  margin: 0;
  font-size: 23px;
}

.sidebar-logo p {
  color: #d8b99b;
  margin-top: 5px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-link {
  color: #eadfd7;
  text-decoration: none;

  padding: 13px 15px;
  border-radius: 8px;

  font-size: 15px;

  transition: 0.3s;
}

.menu-link:hover {
  background: #5a3928;
  color: white;
}

.menu-link.active {
  background: #b87945;
  color: white;
  font-weight: 600;
}

.logout-btn {
  margin-top: auto;

  border: none;
  background: #8d3d32;
  color: white;

  padding: 13px;
  border-radius: 8px;

  font-size: 15px;
  cursor: pointer;

  transition: 0.3s;
}

.logout-btn:hover {
  background: #a94b3e;
}